$primaryColor: #fff;
$secondaryColor: #000;
$lineColor:#f57365;
$bgColor: #f7f7f7;
$footerColor: #8b8b8b;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@font-face {
  font-family: 'latohairline';
  src: url('../font/lato-hairline/lato-hairline-webfont.eot');
  src: url('../font/lato-hairline/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'), url('../font/lato-hairline/lato-hairline-webfont.woff2') format('woff2'), url('../font/lato-hairline/lato-hairline-webfont.woff') format('woff'), url('../font/lato-hairline/lato-hairline-webfont.ttf') format('truetype'), url('../font/lato-hairline/lato-hairline-webfont.svg#latohairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'times_new_roman_psbold_italic';
  src: url('../font/timesnewromanps/timesnewromanps-bolditalicmt-webfont.eot');
  src: url('../font/timesnewromanps/timesnewromanps-bolditalicmt-webfont.eot?#iefix') format('embedded-opentype'), url('../font/timesnewromanps/timesnewromanps-bolditalicmt-webfont.woff2') format('woff2'), url('../font/timesnewromanps/timesnewromanps-bolditalicmt-webfont.woff') format('woff'), url('../font/timesnewromanps/timesnewromanps-bolditalicmt-webfont.ttf') format('truetype'), url('../font/timesnewromanps/timesnewromanps-bolditalicmt-webfont.svg#times_new_roman_psbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Lato";
  color: $secondaryColor;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  & .header__body {
    display: flex;
    justify-content: space-between;
    & nav {
      & .wrapper-burger {
        padding: 50px 0 0 0;
        display: flex;
        & li {
          & a {
            text-decoration: none;
            text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
            color: $primaryColor;
            font-family: "Lato";
            font-size: 14px;
            font-size: calc(12px + 2 * (100vw / 1600));
            font-weight: 700;
            font-style: normal;
            line-height: 30px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            margin: 0 20px 0 0;
          }
          & .burger-menu {
            width: 25px;
            height: 20px;
            position: relative;
            margin: 5px 0 0 0;
            background-color: inherit;
            border: none;
            cursor: pointer;
            & span {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $primaryColor;
            }
            &:hover::before {
              width: 70%;
              transition: 0.4s all;
            }
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              top: 45%;
              left: 0;
              background-color: $primaryColor;
              transition: 0.4s all;
            }
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              top: 0;
              left: 0;
              background-color: $primaryColor;
            }
          }
        }
      }
    }
  }
}

.hero__section {
  background: url(../img/main_image.png) no-repeat 50% 50%;
  background-size: cover;
  & .hero__wrapper {
    text-align: center;
    padding: 115px 10px 240px 10px;
    & .hero__title {
      opacity: 0.7;
      text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
      color: $primaryColor;
      font-family: "times_new_roman_psbold_italic";
      font-size: calc(25px + 10 * (100vw / 1600));
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      padding: 246px 0 20px 0;
    }
    & h1 {
      text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
      color: $primaryColor;
      font-family: "Lato";
      font-size: calc(50px + 50 * (100vw / 1600));
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      text-transform: uppercase;
      padding: 25px;
    }
    & .hero__anchor {
      color: $primaryColor;
      font-family: "Lato";
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 66px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      width: 280px;
      height: 68px;
      border: 3px solid $primaryColor;
      display: block;
      margin: 36px auto;
      transition: 0.4s all;
      &:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
        transition: 0.4s all;
      }
    }
    & .hero__text {
      text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
      color: $primaryColor;
      font-family: "Lato";
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      text-transform: uppercase;
      & .rewarded {
        color: $primaryColor;
        font-family: "Lato";
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.7px;
        line-height: normal;
        text-decoration: underline;
      }
    }
  }
}

.info__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 10px;
  & .info__item {
    text-align: center;
    max-width: 360px;
    & img {
      margin: 0 auto;
    }
    & .info__title {
      padding: 12px 0 20px 0;
      position: relative;
      display: flex;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        bottom: 18px;
        width: 88px;
        height: 1px;
        background-color: $lineColor;
      }
    }
    & .info__text {
      color: $secondaryColor;
      font-family: "Lato";
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: 18px;
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .info__wrapper {
    justify-content: center;
    & .info__text {
      padding: 0 0 10px 0;
    }
  }
}

.app {
  background-color: $bgColor;
  & .app__wrapper {
    padding: 100px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .app_img {
      max-width: 100%;
    }
    & .app__info {
      padding: 70px 0 0 0;
      & .app__title {
        position: relative;
        display: flex;
        justify-content: flex-start;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 88px;
          height: 1px;
          background-color: $lineColor;
        }
      }
      & p {
        padding: 20px 0 0 0;
        max-width: 490px;
        color: $secondaryColor;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: left;
      }
      & .app__link {
        padding: 20px 0 0 0;
        display: flex;
        & a {
          text-decoration: none;
          &:first-child {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1057px) {
  .app {
    & .app__wrapper {
      justify-content: center;
      padding: 30px 10px 0 10px;
      & .app_img {
        order: 1;
      }
      & .app__info {
        padding: 0;
        & .app__link {
          padding: 20px 0 20px 0;
        }
      }
    }
  }
}

.reviews {
  background: url(../img/bgreviews.png) no-repeat 50% 50%;
  background-size: cover;
  & .reviews__wrapper {
    padding: 80px 10px;
    & .reviews__item {
      text-align: center;
      color: $primaryColor;
      font-family: "latohairline";
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 36px;
      text-align: center;
      & img {
        max-width: 104px;
        margin: 0 auto;
      }
      & .reviews__text {
        font-size: 30px;
        opacity: 0.15;
        margin: 30px 0;
      }
      & .reviews__user {
        font-size: 18px;
        opacity: 0.15;
      }
    }
    & .owl-dots {
      text-align: center;
      & .owl-dot {
        width: 10px;
        height: 10px;
        background-color: $primaryColor;
        opacity: 0.2;
        border-radius: 10px;
        margin: 40px 10px 0 0;
        &:focus {
          outline: none;
        }
      }
      & .active {
        opacity: 1;
      }
    }
  }
}

.browse {
  text-align: center;
  padding: 110px 0 0 0;
  & .browse__title {
    padding: 0 0 50px 0;
    position: relative;
    display: flex;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      top: 40%;
      width: 88px;
      height: 1px;
      background-color: $lineColor;
    }
  }
  & .browse__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.statistic {
  & .statistic__wrapper {
    padding: 60px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .statistic__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 10px;
      & .statistic__number {
        color: $secondaryColor;
        font-family: "Lato";
        font-size: 36px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
        margin: 0 0 12px 0;
      }
      & .statistic__text {
        color: $secondaryColor;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 18px;
        text-align: left;
      }
    }
  }
}

@media (max-width: 767px) {
  .statistic {
    & .statistic__wrapper {
      justify-content: center;
    }
  }
}

footer {
  background-color: $bgColor;
  & .footer__wrapper {
    padding: 42px 10px 38px 10px;
    display: flex;
    justify-content: space-between;
    & .footer__copyright {
      opacity: 0.5;
      color: $footerColor;
      font-family: "Lato";
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
    }
    & .footer__author {
      color: $footerColor;
      font-family: "Lato";
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 2.8px;
      line-height: normal;
      text-transform: uppercase;
      & span {
        color: $secondaryColor;
        font-family: "Lato";
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.8px;
        line-height: normal;
      }
    }
  }
}